@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-condensed-light.eot');
  src: local('☺'), url('../fonts/helvetica-condensed-light.woff') format('woff'), url('../fonts/helvetica-condensed-light.ttf') format('truetype'), url('../fonts/helvetica-condensed-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 30px;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  line-height: 28px;
}

body * {
  background-color: #fff;
  color: #fff;
}

.black-on-white, .black-on-white * {
  background-color: #fff;
  color: #777;
}

.black-on-white header h1 {
  background: url(../images/logo-black.png);
}

.white-on-black, .white-on-black * {
  background-color: #000;
  color: #fff;
}

.white-on-black header h1 {
  background: url(../images/logo-white.png);
}

header h1 {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 352px;
  height: 67px;
  margin: 0 auto;
}

section#description {
  margin-top: 30px;
}

section#description, footer {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 850px) {

  section#description, footer {
    margin-left: 0;
    margin-right: 0;
  }

  .black-on-white section#description, .black-on-white footer {
    text-align: right;
  }

  .white-on-black section#description, .white-on-black footer {
    text-align: left;
    margin-left: 450px;
  }

  /*http://www.wpdfd.com/editorial/thebox/deadcentre4.html*/

  #horizon {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: block;
  }

  #content {
    margin-left: -440px;
    position: absolute;
    top: -280px;
    left: 50%;
    width: 880px;
    height: 560px;
    visibility: visible;
  }

  section#description {
    margin-top: 150px;
  }

  section#description p, footer p {
    margin: 0;
  }

  footer {
    margin-top: 100px;
  }
}
