@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-condensed-light.eot');
  src: local('☺'), url('../fonts/helvetica-condensed-light.woff') format('woff'), url('../fonts/helvetica-condensed-light.ttf') format('truetype'), url('../fonts/helvetica-condensed-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  line-height: 28px;
}

body * {
  background-color: #fff;
  color: #fff;
}

div#container {
  padding: 30px;
}

.black-on-white, .black-on-white * {
  background-color: #fff;
  color: #444;
}

.white-on-black, .white-on-black * {
  background-color: #000;
  color: #fff;
}

.logo {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-repeat: no-repeat;
  width: 211px;
  height: 40px;
  background-size: 211px 40px;
}

.black-on-white .logo {
  background-image: url(../images/logo-black.png);
}

.white-on-black .logo {
  background-image: url(../images/logo-white.png);
}

#side-text {
  margin-top: 50px;
}

#side-text p {
  margin: 0;
}

#side-text ul, #side-text ol {
  list-style-position: inside;
  padding: 0;
}

#side-text ol > li {
  margin-top: 20px;
}

@media only screen and (min-width: 450px) {
  .logo {
    width: 352px;
    height: 67px;
    background-size: 352px 67px;
  }
}

@media only screen and (min-width: 920px) {
  header .logo {
    margin: 0 auto;
  }

  #side-text {
    width: 460px;
    margin-top: 150px;
  }

  .white-on-black #side-text {
    margin-left: 50.5%
  }

  .black-on-white #side-text {
    text-align: right;
    margin-left: auto;
    margin-right: 51.5%;
  }

  footer {
    margin-top: 100px;
  }
}
