.logo {
  @include hide-text;

  display: block;

  width: 300px;
  height: 92px;

  background: {
    size: contain;
    repeat: no-repeat;
  }

  .light & {
    background-image: url(/assets/images/light-logo.png);
  }

  .dark & {
    background-image: url(/assets/images/dark-logo.png);
  }
}
