body, html {
  height: 100%;
  width: 100%;
}

body {
  padding: 20px;
  @include box($orient: vertical, $pack: center, $align: center);
  @include box-sizing(border-box);
}

.wrapper {
  @include box($orient: vertical, $pack: center, $align: top);
}

.column {
  max-width: 375px;
  margin-top: 50px;
}

.text {
  padding-bottom: 20px;

  footer {
    margin-top: 50px;

    &:before {
      content: "\0000a0\0000a0";
      border-top: 1px solid #fe6054;
    }
  }
}

@media screen and (min-width: 820px) {
  $between-columns-spacing: 100px;

  .wrapper {
    @include box-orient(horizontal);
  }

  .dark .wrapper { @include box-direction(reverse); }

  .column { margin-top: 0; }

  .light {
    .text {
      padding-left: $between-columns-spacing;
    }
  }

  .dark {
    .text {
      text-align: right;
      padding-right: $between-columns-spacing;
    }
  }
}
