@include font-face(HelveticaNeueCondensed,
                   '/assets/fonts/helvetica-neue-condensed-light');

body {
  font: 18px/22px HelveticaNeueCondensed, Helvetica, sans-serif;
  letter-spacing: 1px;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
}

li {
  list-style-position: inside;
}
