@include font-face(HelveticaNeueCondensed,
                   '/assets/fonts/helvetica-neue-condensed-light');

body {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: HelveticaNeueCondensed, Helvetica, sans-serif;
}

a {
  font-weight: bold;
}

li {
  list-style-position: inside;
}
