@include font-face(Typ1451, '/assets/fonts/typ1451/regular/typ1451-regular');

@include font-face(Typ1451, '/assets/fonts/typ1451/light/typ1451-light', 200);

body {
  font: 16px/20px Typ1451, Gravur, HelveticaNeue, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.dark {
  font-weight: 200;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
}

li {
  list-style-position: inside;
}
