@import url(vendor/normalize/normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  font-weight: bold; }

.dark {
  background-color: black; }
  .dark, .dark a {
    color: #ecebe9; }

.light {
  background-color: #ecebe9; }
  .light, .light a {
    color: black; }

body {
  padding: 10px; }

.panel {
  text-align: center; }
  .panel .logo {
    margin: 0 auto; }

.logo {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: block;
  width: 300px;
  height: 92px;
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (min-width: 600px) {
    .logo {
      width: 568px;
      height: 182px; } }

.dark .logo {
  background-image: url(/assets/images/dark-logo.png); }

.light .logo {
  background-image: url(/assets/images/light-logo.png); }
