<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Das Dad</title>
    <meta name="description"
      content="Das Dad is a technology startup based in Sao Paulo, Brazil.">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="apple-touch-icon-precomposed"
      sizes="114×114" href="apple-touch-icon-114×114-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
      sizes="72×72" href="apple-touch-icon-72×72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
      href="touch-icon-iphone-precomposed.png">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>.
      </p>
    <![endif]-->

    <div class="panel">
      <header>
        <h1 class="logo">Das Dad</h1>
      </header>
    </div>

    <div class="panel">
      <section>
        {{ content }}
      </section>
      <footer>
        <p><a href="mailto:hi@dasdad.com">hi@dasdad.com</a></p>
        <p>+55 (11) 3294-6640</p>
      </footer>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-20929597-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
       g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
       s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
